* {
  padding: 0;
  margin: 0;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}

.main-container {
  background-color: #dbccb5;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(4, 1fr);
  min-height: 100vh;
}

.areas {
  display: flex;
  align-items: center;
  justify-content: center;
}

.header {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  grid-column-start: 1;
  grid-column-end: 1;
  border: 2px solid black;
  background-color: #91ba90;
  margin: 1rem;
  box-shadow: 10px 5px 15px 0px rgba(0, 0, 0, 0.3);
  transition: transform 0.1s ease-out;
}

.header:hover {
  transform: scale(1.02);
}

.area-profile-infos {
  padding: 1rem;
  flex-direction: column;
}

.text-hello,
.second-text {
  font-family: Georgia, "Times New Roman", Times, serif;
  text-align: center;
}

.container-01 {
  position: relative;
  grid-column: 1;
  grid-row: 2 / span 3;
  margin: 1rem;
  max-height: 40rem;
  background-color: #e7decf;
  color: #414142;
  border-left: 6px dashed #ffffff;
  border-top: 2px solid #ffffff;
  border-right: 2px solid #ffffff;
  border-bottom: 2px solid #ffffff;
  box-shadow: 10px 5px 15px 0px rgba(0, 0, 0, 0.3);
  transition: transform 0.1s ease-out;
  overflow: auto;
}

.container-01:hover {
  transform: scale(1.02);
}

.header-title-fast-notes {
  text-align: center;
  padding: 0.5rem;
}

.area-fast-notes {
  flex-direction: column;
  max-height: 100%;
  padding: 0.5rem;
  text-align: start;
}

#text-fast-note {
  margin-top: 0.5rem;
  padding: 0.3rem;
  border: 0.5px solid #2a2020;
  border-radius: 0.5rem;
  background-color: #ffffff;
  font-family: "Arial", sans-serif;
  font-size: 0.8rem;
  color: #333;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  transition: border-color 0.3s ease, box-shadow 0.3s ease;
  resize: vertical;
  outline: none;
  width: 95%;
}

.area-card-fast-note {
  margin-top: 0.5rem;
  overflow-y: auto;
}

.container-01::-webkit-scrollbar {
  width: 6px;
}

.container-01::-webkit-scrollbar-track {
  background: #f1f1f1;
  border-radius: 10px;
}

.container-01::-webkit-scrollbar-thumb {
  background: #a5795dc2;
  border-radius: 10px;
}

.container-01::-webkit-scrollbar-thumb:hover {
  background: #a5795dc2;
}

.card-fast-note {
  margin: 0.5rem;
  list-style-type: none;
  border-bottom: 2px solid #91ba90;
  display: flex;
  justify-content: space-between;
  color: rgba(46, 45, 41, 0.785);
}

.text-fast-note {
  padding: 0.5rem;
  color: #000000;
}

.btn-remove {
  background: none;
  border: none;
  cursor: pointer;
  color: #000000;
  font-size: 1rem;
  padding: 0.5rem;
  transition: color 0.3s ease;
  text-align: end;
}

.btn-remove:hover {
  color: #cc0000;
}

.container-02 {
  grid-column: 2 / span 2;
  grid-row: 1 / span 3;
  background-color: #e7decf;
  height: 95vh;
  position: relative;
  border: 2px dashed #ffffff;
  margin-top: 1rem;
}

.container-02 h1 {
  padding-left: 2rem;
}

.container-03 {
  grid-column: 4;
  grid-row: 1 / span 2;
  color: #fdfdfd;
  display: flex;
  margin: 1rem;
  transition: transform 0.1s ease-out;
}

.container-03:hover {
  transform: scale(1.02);
}

.container-04 {
  grid-column: 4;
  grid-row: 3;
  background-color: #91ba90;
}

.container-05 {
  grid-column: 2 / span 2;
  grid-row: 4;
  background-color: #91ba90;
}

.container-06 {
  grid-column: 4;
  grid-row: 4;
  background-color: #91ba90;
}

.btn-activity {
  position: absolute;
  bottom: 20px;
  right: 20px;
  width: 50px;
  height: 50px;
  border: none;
  border-radius: 50%;
  background-color: #91ba90;
  color: #fff;
  font-size: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  z-index: 10;
}

@keyframes shake {
  0% {
    transform: translateX(0);
  }
  25% {
    transform: translateX(-10px);
  }
  50% {
    transform: translateX(10px);
  }
  75% {
    transform: translateX(-10px);
  }
  100% {
    transform: translateX(0);
  }
}

.img-plant {
  width: 60%;
  position: absolute;
  bottom: 240px;
  left: 430px;
  transition: transform 0.3s ease; /* Para outros efeitos de transição, se necessário */
}

.img-plant:hover {
  animation: shake 0.5s ease; /* Aplica a animação de chacoalhar */
}

.container-04,
.container-05,
.container-06,
.container-07 {
  border: 2px dashed #fff;
  max-height: 19rem;
  margin: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 1rem;
}

@media (max-width: 320px) {
  .main-container {
    display: flex;
    flex-direction: column;
  }

  .container-02,
  .container-03 {
    display: flex;
    justify-content: center;
    max-width: 98%;
  }

  .img-plant {
    display: none;
  }
}
