* {
  padding: 0;
  margin: 0;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}

.main-container {
  background-color: #f5f5f5;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: 10rem;
  gap: 1rem;
  min-height: 100vh;
}

.areas {
  display: flex;
  align-items: center;
  justify-content: center;
}

.header {
  grid-column-start: 1;
  grid-column-end: 1;
  border-top: 2px solid black;
  border-left: 2px solid black;
  margin: 1rem;
}

.text-hello,
.second-text {
  font-family: Georgia, "Times New Roman", Times, serif;
  text-align: center;
  margin-bottom: 2rem;
}

.container-01 {
  grid-column: 1;
  grid-row: 2 / span 2;
  background-color: #b0b0b0;
  color: #ffffff;
  border-radius: 1rem;
  margin: 0.5rem;
  border: 2px dashed black;
  margin-left: 1rem;
}

.container-02 {
  grid-column: 2 / span 2;
  grid-row: 1 / span 3;
  background-color: #f5f5f5;
  height: 100vh;
  position: relative;
  border-left: 2px solid black;
}

.container-02 h1 {
  padding-left: 2rem;
}

.container-03 {
  grid-column: 4;
  grid-row: 1 / span 3;
  background-color: #b0b0b0;
  color: #fdfdfd;
}

.area-profile-infos {
  padding: 1rem;
  flex-direction: column;
  gap: 0.5rem;
}

.area-fast-notes {
  flex-direction: column;
  padding: 0.5rem;
}

.title-fast-notes {
  text-align: start;
}

#text-fast-note {
  margin-top: 0.5rem;
  padding: 0.3rem;
  border: 2px solid #2a2020;
  border-radius: 0.5rem;
  background-color: #f5f5f5;
  font-family: "Arial", sans-serif;
  font-size: 0.8rem;
  color: #333;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  transition: border-color 0.3s ease, box-shadow 0.3s ease;
  resize: vertical;
  outline: none;
  width: 95%;
}

.area-card-fast-note {
  margin-top: 0.5rem;
  max-height: 20rem;
  overflow-y: auto;
}

.area-card-fast-note::-webkit-scrollbar {
  width: 12px;
}

.area-card-fast-note::-webkit-scrollbar-track {
  background: #f1f1f1;
  border-radius: 10px;
}

.area-card-fast-note::-webkit-scrollbar-thumb {
  background: #212524;
  border-radius: 10px;
}

.area-card-fast-note::-webkit-scrollbar-thumb:hover {
  background: #212524;
}

.card-fast-note {
  background-color: #dbdbdb;
  margin: 0.5rem;
  list-style-type: none;
  border: 2px solid #000000;
  border-radius: 0.5rem;
  display: flex;
  justify-content: space-between;
  color: black;
}

.text-fast-note {
  padding: 0.5rem;
  color: #000000;
}

.btn-remove {
  background: none;
  border: none;
  cursor: pointer;
  color: #000000;
  font-size: 1rem;
  padding: 0.5rem;
  transition: color 0.3s ease;
  text-align: end;
}

.btn-remove:hover {
  color: #cc0000;
}

.btn-activity {
  position: absolute;
  bottom: 20px;
  right: 20px;
  width: 50px;
  height: 50px;
  border: none;
  border-radius: 50%;
  background-color: #080808;
  color: #fff;
  font-size: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  z-index: 10;
}

@media (max-width: 320px) {
  .main-container {
    display: flex;
    flex-direction: column;
  }
}
